@model Schulungstool.PJ.Models.Formula.SchulungsModel

@{
    Layout = null;
}
@*@{
        var filename = ViewData["FileName"];
        var schulungcreator = ViewData["Schulungname"];
        var schulungname = ViewData["Schulungscreator"];
    }*@

<!DOCTYPE html>
<html>
<head>
    <script src="~/wwwroot/js/getfileName.js"></script>
    <script src="~/wwwroot/js/Select.js"></script>
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.css">
    <style>
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit]:hover {
            background-color: #424242;
            color: white;
        }

        input[type=submit] {
            transition-duration: 0.4s;
            float: right;
        }

        input[type=file] {
        }

        p.auto {
            overflow: auto;
            border-style: groove;
            color: black;
        }

        p {
            border: 2px #e7e7e7;
            padding: 12px;
            width: 250px;
            height: 150px;
            float: left;
            margin: 5px;
        }

        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .gee {
            background-color: white;
            color: black;
            border: 2px solid #e7e7e7;
        }
    </style>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .error {
            color: red;
        }
    </style>
</head>
</head>
<body>

    @using (Html.BeginForm("HomeAD", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Schulung anlegen</th>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.Schulungscreator)
                </td>
            </tr>
            <tr>
                <td>Name der Schulung </td>
                <td>
                    @Html.TextBoxFor(m => m.Schulungsname)
                </td>
            </tr>
            <tr>
                <td>Typ der Schulung </td>
                <td>
                    @Html.DropDownListFor(m => m.Typ, new List<SelectListItem>
                   { new SelectListItem{Text="Schulung"},
                     new SelectListItem{Text="Unterweisung"}}, "Please select")
                </td>
            </tr>
            <tr>
                <td>
                    <span>Select File:</span>
                    @Html.TextBoxFor(m => m.PostedFile, new { type = "file" })
                    <br />
                    @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "error" })
                    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    }


    <br />
    <hr />
    <table>
        <tr>
            Benutzer:
            <td>
                <p class="auto">
                    <input name="whishlist[]" type="checkbox">  Krug Nikolaus
                    <br>
                    <input name="whishlist[]" type="checkbox">  Rene Jahn
                    <br>
                    <input name="whishlist[]" type="checkbox">  Beate Wallner
                    <br>
                    <input name="whishlist[]" type="checkbox">  Robert Fandler
                    <br>
                    <input name="whishlist[]" type="checkbox">  Dietmar Nederl
                    <br>
                    <input name="whishlist[]" type="checkbox">  Praktikant
                    <br>
                    <input name="whishlist[]" type="checkbox">  Krug Nikolaus
                    <br>
                    <input name="whishlist[]" type="checkbox">  Rene Jahn
                    <br>
                    <input name="whishlist[]" type="checkbox">  Beate Wallner
                    <br>
                    <input name="whishlist[]" type="checkbox">  Robert Fandler
                    <br>
                    <input name="whishlist[]" type="checkbox">  Dietmar Nederl
                    <br>
                    <input name="whishlist[]" type="checkbox">  Praktikant
                    <br>
                </p>
            </td>
        </tr>
    </table>
    <hr />
</body>

</html>